body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #34495e;
    background-color: #fff;
    margin: 0
}

input {
    border: 0 none;
    outline: none;
    margin: 0;
    padding: 0
}

a {
    text-decoration: none;
    color: #34495e
}

a:hover {
    text-decoration: underline;
}

ul li {
    list-style: none;
}

p,
ul,
li {
    margin: 0;
    padding: 0
}

