body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #34495e;
    background-color: #fff;
    margin: 0
}

input,
button {
    border: 0 none;
    outline: none;
    margin: 0;
    padding: 0
}

a {
    text-decoration: none;
    color: #34495e
}

a:hover {
    text-decoration: underline;
}

ul li {
    list-style: none;
}

p,
ul,
li {
    margin: 0;
    padding: 0
}

.loading {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    display: table;
}

.loading div {
    vertical-align: middle;
    display: table-cell;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .3s
}

.fade-enter,
.fade-leave-active {
    opacity: 0
}

.smallstar10 {
    background: url(../assets/stars.png) no-repeat 0 0;
}

.smallstar9 {
    background: url(../assets/stars.png) no-repeat 0 -17px;
}

.smallstar8 {
    background: url(../assets/stars.png) no-repeat 0 -34px;
}

.smallstar7 {
    background: url(../assets/stars.png) no-repeat 0 -51px;
}

.smallstar6 {
    background: url(../assets/stars.png) no-repeat 0 -68px;
}

.smallstar5 {
    background: url(../assets/stars.png) no-repeat 0 -85px;
}

.smallstar4 {
    background: url(../assets/stars.png) no-repeat 0 -102px;
}

.smallstar3 {
    background: url(../assets/stars.png) no-repeat 0 -119px;
}

.smallstar2 {
    background: url(../assets/stars.png) no-repeat 0 -136px;
}

.smallstar1 {
    background: url(../assets/stars.png) no-repeat 0 -153px;
}

.smallstar {
    width: 63px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px
}
