.smallstar10 {
    background: url(../assets/stars.png) no-repeat 0 0;
}

.smallstar9 {
    background: url(../assets/stars.png) no-repeat 0 -17px;
}

.smallstar8 {
    background: url(../assets/stars.png) no-repeat 0 -34px;
}

.smallstar7 {
    background: url(../assets/stars.png) no-repeat 0 -51px;
}

.smallstar6 {
    background: url(../assets/stars.png) no-repeat 0 -68px;
}

.smallstar5 {
    background: url(../assets/stars.png) no-repeat 0 -85px;
}

.smallstar4 {
    background: url(../assets/stars.png) no-repeat 0 -102px;
}

.smallstar3 {
    background: url(../assets/stars.png) no-repeat 0 -119px;
}

.smallstar2 {
    background: url(../assets/stars.png) no-repeat 0 -136px;
}

.smallstar1 {
    background: url(../assets/stars.png) no-repeat 0 -153px;
}

.smallstar {
    width: 63px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
}
